@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bdr {
    @apply border-2 border-red-500;
  }
}

.gallery__slider .swiper {
  overflow: visible !important;
  min-height: 498px;
}

.gallery__slider .swiper-wrapper {
  will-change: transform;
  transition: all 3s ease-in;
  min-height: 498px !important ;
  display: flex !important;
  column-gap: 25px;
}

.gallery__slider .swiper-slide-active {
  transform: none !important;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.animate-fill {
  animation: fill 3s linear forwards;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 99999999 !important;
}
