@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bdr {
    @apply border-2 border-red-500;
  }
}

 .swiper-slide {
    width: auto !important;
 }

 .swiper-wrapper {
    will-change: transform;
    transition: all 3s ease-in;
  }

  @keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  .animate-fill {

    animation: fill 3s linear forwards;
  }

  .ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 99999999 !important;
  }
 