@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bdr {
    @apply border-2 border-red-500;
  }
}

/* .slick-center {
    border: 1px solid red;
    width: '608px' !important;
    height: '456px' !important
} */

  

 .swiper-slide {
    width: auto !important;
 }

 .swiper-wrapper {
  border: '1px solid red';
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  /* transform: translate(-50%, -50%); */
    will-change: transform;
    /* transform: translate3d(0px, 0px, 0px) !important; */
    transition: all 2s ease-in;
  }

  @keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  .animate-fill {

    animation: fill 3s linear forwards;
  }

  .ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 99999999 !important;
  }
