/* styles/globals.css */
.notice-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.notice-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.notice-scrollbar::-webkit-scrollbar-thumb {
  background: #e7eef8;
  border-radius: 10px;
}
#news .swiper-button-prev {
  background-image: url('/home/buttonleft.svg') !important;
  width: 40px !important;
  height: 40px !important;
}
#news .swiper-button-next {
  background-image: url('/home/buttonright.svg') !important;
  width: 40px !important;
  height: 40px !important;
}

#news .swiper-button-next::after,
#news .swiper-button-prev::after {
  content: '' !important;
}
