.notice-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.notice-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.notice-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.notice-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
